FX_ASI_BUILD 2189
BEGIN
	"\0"
END

FX_ASI_BUILD 2372
BEGIN
	"\0"
END

FX_ASI_BUILD 2545
BEGIN
	"\0"
END

FX_ASI_BUILD 2612
BEGIN
	"\0"
END

FX_ASI_BUILD 2699
BEGIN
	"\0"
END

FX_ASI_BUILD 2802
BEGIN
	"\0"
END

FX_ASI_BUILD 2944
BEGIN
	"\0"
END

FX_ASI_BUILD 3095
BEGIN
	"\0"
END

// Support for GTA V build 3258 (required for game build 3258 compatibility in FiveM)
FX_ASI_BUILD 3258
BEGIN
	"\0"
END

FX_ASI_BUILD 3407
BEGIN
	"\0"
END